* {
	margin: 0 auto;
}
body{
	text-align: center;
}
.white-score-space {
	position: relative;
	left: 22vw;
	border : 1px black solid;
	height: 70px;
	width: 300px;
	font-size: 30px;
	margin-bottom: 15px;
}
.white-score-space span {
	font-size: 50px;
}
.black-score-space {
	position: relative;
	top: 15px;
	right: 22vw;
	border : 1px black solid;
	height: 70px;
	width: 300px;
	font-size: 30px;
}
.black-graveyard {
	display: flex;
	position: relative;
	top: 20px;
	right: 175px;
	height: 15px;
	width: 200px;
	border: 1px black solid;
}

.white-graveyard {
	display: flex;
	margin-top: 10px;
	position: relative;
	border: 1px black solid;
	height: 15px;
	width: 200px;
	left: 175px;
	bottom: 5px;
}

.grave-image {
	height: 15px;
	width: 15px;
}
.user-turn-space {
	position: relative;
	top: 25px;
	font-size: 35px;
	height: 40px;
	width: 500px;
	border: 1px black solid;
}
.user-turn-space span{
	text-transform: uppercase;
}
.black-score-space span {
	font-size: 50px;
}
#game-space {
	height: 60vw;
	width: 60vw;
	margin-bottom: 15px;
}
.row{
	display: flex;
	height: 12.5%;
	border: 1px black solid;
	flex-direction: row;
}
.row-box{
	height: 100%;
	width: 100%;
	border: 1px black solid;
	margin: 0px 0px 0px 0px;
}
.black-box {
	background: black;
}
.do-not-show {
	display: none;
}
.show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#game-over {
	border: 1px black solid;
	height: 60vw;
	width: 60vw;
	font-size: 30px;
}
img{
	height: 100%;
	width: 100%;
}