* {
	margin: 0 auto;
}
body{
	text-align: center;
}
.start-screen-alert {
	border: 2px black solid;
	position: absolute;
	top: 19vw;
	left: 30%;
	width: 40vw;
	height: 13vw;
	z-index: 1;
	background: white;
	font-size: 2vw;
}
.start-screen-alert button {
	display: block;
}
.white-score-space {
	position: relative;
	left: 7.5vw;
	height: 3vw;
	width: 20vw;
	font-size: 2vw;
	border: 2px blue dotted;
}
.white-score-space span {
	font-size: 3vw;
	color: blue;
}
.black-score-space {
	position: relative;
	border: 2px green dotted;
	right: 7.5vw;
	height: 3vw;
	width: 20vw;
	font-size: 2vw;
}
.black-graveyard {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	height: 3vw;
	width: 35vw;
	position: relative;
	top: 2px;
}

.white-graveyard {
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	height: 3vw;
	width: 35vw;
}

.grave-image {
	margin: 0;
	height: 3vw;
	width: 3vw;
}
.user-turn-space {
	position: relative;
	font-size: 3vw;
	height: 3.5vw;
	width: 30vw;
}
.user-turn-space span{
	text-transform: uppercase;
}
.black-score-space span {
	font-size: 3vw;
	color: green;
}


#game-space {
	height: 35vw;
	width: 35vw;
}

.row{
	display: flex;
	height: 12.5%;
	flex-direction: row;
}
.row-box{
	position: relative;
	height: 100%;
	width: 100%;
	border: 1px black solid;
	margin: 0px 0px 0px 0px;
}
.black-box:hover{
	background: green;
}
.black-box {
	background: #242a30
}
.do-not-show {
	display: none;
}
.show {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#game-over {
	font-size: 30px;
	border: 1px black solid;
	height: 60vw;
	width: 60vw;
	animation: fadeIn ease 5s;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.dead-piece {
	animation: fadeOut ease 2s;
}

.graveyard-piece {
	animation: fadeIn ease 2s;
}
/*
https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08
*/
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

img{
	height: 100%;
	width: 100%;
}